language: python

python:
  - "3.4"
  - "3.5"
  - "3.6"
  - "3.7"
  - "3.8"
  - "3.9"
  - "nightly"

install:
  - pip install unittest2
  - pip install coveralls
  - pip install codecov

script:
  - coverage run --source ghstats/ghstats.py tests/test_ghstats.py

after_success:
  - coveralls
  - codecov
